<form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
        <div class="flex-auto">
            <div class="card flex justify-content-center">
                <label for="password">Password</label>
                <p-password formControlName="password">
                     <ng-template pTemplate="header">
                         <h6>Pick a password</h6>
                     </ng-template>
                     <ng-template pTemplate="footer">
                         <p-divider></p-divider>
                         <p class="mt-2">Suggestions</p>
                         <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                             <li>At least one lowercase</li>
                             <li>At least one uppercase</li>
                             <li>At least one numeric</li>
                             <li>Minimum 8 characters</li>
                         </ul>
                     </ng-template>
                 </p-password>
                 <div *ngIf="resetPasswordForm.controls['password'].invalid && (resetPasswordForm.controls['password'].dirty || resetPasswordForm.controls['password'].touched)"
                    class="alert">
                    <div class="red-text" *ngIf="resetPasswordForm.controls['password'].errors?.['required']">
                        Password is required
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-auto">
            <div class="card flex justify-content-center">
                <label for="confirm_password">Confirm Password</label>
                <p-password formControlName="confirm_password" [feedback]="false"/>
                <div *ngIf="resetPasswordForm.controls['confirm_password'].invalid && (resetPasswordForm.controls['confirm_password'].dirty || resetPasswordForm.controls['confirm_password'].touched)"
                    class="alert">
    
                    <div class="red-text" *ngIf="resetPasswordForm.controls['confirm_password'].errors?.['required']">
                        Confirm password is required.
                    </div>
                    <div class="red-text" *ngIf="resetPasswordForm.controls['confirm_password'].errors?.['passwordMatch']">
                        Password and Confirm Password must match
                    </div>
                </div>
            </div>
        </div>
    <p-button type="submit" [disabled]="!resetPasswordForm.valid">Submit</p-button>
</form>