<form [formGroup]="forgetPasswordForm" (ngSubmit)="onSubmit()">
    <div class="card flex flex-wrap gap-3 p-fluid">
        <div class="flex-auto">
            <label class="block font-bold mb-2" for="email">email</label>
            <input id="email" type="text" formControlName="email" pInputText/>
            <div *ngIf="forgetPasswordForm.controls['email'].invalid && (forgetPasswordForm.controls['email'].dirty || forgetPasswordForm.controls['email'].touched)"
                class="alert">

                <div class="red-text" *ngIf="forgetPasswordForm.controls['email'].errors?.['required']">
                    Email is required.
                </div>

                <div class="red-text" *ngIf="forgetPasswordForm.controls['email'].errors?.['email']">
                    Invalid Email format
                </div>
            </div>
        </div>  
    </div>
    <p-button type="submit" [disabled]="!forgetPasswordForm.valid">Submit</p-button>
</form>